html {
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main > h1 {
    display: flex;
    width: 100%;
    height: 200px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.board{
    width: 618px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* margin-top: 200px; */
}

section > li {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid black;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 150px;
}

li:hover{
    background-color: greenyellow;
}

footer {
    margin: auto;
    width: 618px;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: greenyellow;
    border: none;
    padding: 5px;
}

button:hover{
    background-color: green;
}

footer > h3 {
    display: inline-block;
    color: white;
    font-size: 50px;
}
